.header{
    display: block;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}